<% provide(:title, "About")%>
    
<div class="row">
    <div class="col-md-1">
    </div>
    <div class="col-md-10">
    <h1>About</h1>    
        <h3>This is a personal little project dedicated to mantain a books control. </h3>
        <h3 class="about-text">Along side by this app there is a course that made possible to do this project: <br><a href="https://www.railstutorial.org/">The Rails Tutorial</a> by Michael Hartl.</h3>
        <h3>Technologies used in this project:</h3>    
            <ul id="items-technologies">
                <li>
                    <h3>
                        PostgreSQL
                    </h3>
                </li>
                <li>
                    <h3>
                        ruby 2.4.0p0
                    </h3>
                </li>
                <li>
                    <h3>
                        Rails 5.1.4
                    </h3>
                </li>
            <ul>
        </h2>
    
    </div>

    <div class="col-md-1">
    </div>
</div>
