<% provide(:title, "Contact") %>

<div class="row">
    <div class="col-md-1">
    
    </div>
    
    <div class="col-md-10">
        <h1>Contact</h1>    

            <div class="contact-text col-md-9">
                <h2 id="first-p-contact">Hello,</br> If you want to send me any question or suggestion <a href="mailto:izaba97@gmail.com">here</a> my email :) </h2>
            </div>
            <div class="contact-text col-md-9">
                <h2>You can also check my networks too ;) </h2>
            </div>
            
            <div id="social-icons" class="col-md-6 col-md-offset-3">
                <div class="col-xs-4 center">
                    <a href="https://github.com/izabard"><i class="fab fa-github icons"></i></a>        
                </div>            
                <div class="col-xs-4 center">
                    <a href="http://www.twitter.com/jizabard"><i class="fab fa-twitter icons"></i></a>
                </div>
                    <div class="col-xs-4 center">
                    <a href="https://www.instagram.com/iluvala"><i class="fab fa-instagram icons"></i></a>
                </div>
            </div>

                       
              
    </div>

    <div class="col-md-1">
    
    </div>

</div>
   