@import "bootstrap-sprockets";
@import "bootstrap";

/* universal */

body{
    padding-top: 50px;
    font-family: Open Sans, Helvetica, sans-serif;
    font-weight: 400;
    
}

section{
    overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

#header{
    background-color: #fff;
}
/* logo */

#logo{
  float: left;
  margin-right: 10px;
  font-size: 2em;
  color:#333;
  letter-spacing: 1px;
  padding-top: 9px;
}

#logo:hover{
    color:darkgray;
    text-decoration: none;
}

/* footer */
footer{
    margin-top: 175px;
    padding-top: 5px;
    border-top: 1px solid #eaeaea;
    color: darkgray;
}
footer small {
    float: left;
}
footer ul {
    float: right;
    list-style: none;
}

footer ul li{
    float: left;
    margin-left: 15px;
}

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}


/* forms */

input, textarea, select, .uneditable-input {
    border: 1px solid #bbb;
    width: 100%;
    margin-bottom: 15px;
    @include box_sizing;
}

input {
    height: auto !important;
}

#error_explanation {
  color: #B23E3E;
  ul {
    color: #B23E3E;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

/* books */
.books {
    list-style: inherit;
    padding: 0;
    li {
        padding: 10px;
        border-top: 1px solid #e8e8e8;
    }
    .author {
        /*display: block;*/
        margin-top: 5em;
        padding-top: 0;
    }
    .title {
        color: #23527c;
        display: block; 
    }
    .timestamp {
        
        display: block;
    }
    .gravatar {
        float: left;
        margin-right: 10px;
        margin-top: 5px;
    }
}

span.picture {
    margin-top: 10px;
    input {
        border: 0;
    }
}

.feed {
    padding: 0;
    li {
        list-style: none;
        padding: 10px;
        border-top: 1px solid #e8e8e8;
    }
}

.user_gravatar {
    img {
        padding: 10px;
    }
   
}
.user_info {
   
    h2 {
        margin-top: 10px;
        margin-bottom: 0px;
   }
    li {
        list-style: none;
    }
    
      
}

.aside_user_info     {
    padding: 30px;
}