@import "bootstrap-sprockets";
@import "bootstrap";

/* universal */

body{
    padding-top: 50px;
    font-family: Open Sans, Helvetica, sans-serif;
    font-weight: 400;
    
}

section{
    overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}


/* logo */

#logo{
  float: left;
  margin-right: 10px;
  font-size: 2em;
  color:#333;
  letter-spacing: 1px;
  padding-top: 9px;
}

#logo:hover{
    color:darkgray;
    text-decoration: none;
}

/* footer */
footer{
    margin-top: 300px;
    padding-top: 5px;
    border-top: 1px solid #eaeaea;
    color: darkgray;
}
footer small {
    float: left;
}
footer ul {
    float: right;
    list-style: none;
}

footer ul li{
    float: left;
    margin-left: 15px;
}

