<footer class="footer">
<small>
    Made with many spells by <a href="http://www.twitter.com/jizabard"> Izabard</a>
</small>
<nav>
    <ul>
        <li><%= link_to "About", about_path %></li>
        <li><%= link_to "Contact", contact_path %></li>
    </ul>
</nav>
</footer>