<header class="navbar navbar-fixed-top navcontent">
      <div class="container">
        <%= link_to "Bibliodarium", root_path, id: "logo" %>
   
      <nav>
        <ul class="navbar-nav navbar-right nav">
          <li><%= link_to "Home", root_path %></li>
          <li><%= link_to "Log in", '#' %></li>
        </ul>
      </nav>
      </div>
</header>